node_modules
# Keep environment variables out of version control
coverage
kredensial_dbfree.txt
db_belajar_express.sql
.env.local
.env
# Local Netlify folder
.netlify
/generated/prisma
.env.prod
/generated/prisma

/generated/prisma
